{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    {% if god_mode == "god" %}
        <div class="shake-slow shake-freeze"><h3><span style="color: red">HOVER ME, GOD!</span> Project aim was to play with the data from Discord channel of CS50 (2020) and find interesting insights based on some assumptions</h3>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PcQtdjlxp0M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    {% else %}
        <h3>Project aim was to play with the data from Discord channel of CS50 (2020) and find interesting insights based on some assumptions</h3>
        <br>
    {% endif %}
    <div style="text-align: left">

            <h6>
        You can:
        <br>
                1. <a href="/participate">Participate</a> in research (login/register required) by submitting your own answers to several questions - you will then see how it compares to statistics
        <br>
        or
        <br>
                2. Just see the <a href="/statistics">statistics</a>
        <br>
        Cheers!)</h6>
    Users registered: {{ users_counter }}
    <br>
    Users participated: {{ users_participated }}
    <br>
    Answers submitted: {{ answers_counter }}

    </div>
{% endblock %}
