{% extends "layout.html" %}

{% block title %}
    Statistics
{% endblock %}

{% block main %}
    <div style="text-align: left">
        <h3>Statistics</h3>
        <br>
            <h6>
        You can:
        <br>
                1. <a href="/participate">Participate</a> in research (login/register required) by submitting your own answers to several questions - you will then see how it compares to statistics
        <br>
        or
        <br>
                2. Just see the <a href="/statistics">statistics</a>
        <br>
        Cheers!)</h6>
    Users registered: {{ users_counter }}
    <br>
    Users participated: {{ users_participated }}
    <br>
    Answers submitted: {{ answers_counter }}

    </div>
{% endblock %}
